body {
	font-family: sans-serif;
}

div.drive {
	width: 300px;
	margin-bottom: 40px;
}

img.icon {
	width: 32px;
	height: 32px;
}

button {
	border: 1px solid #bbb;
	background: #eee;
	border-radius: 4px;
	padding: 10px 20px 10px 20px;
	margin: 3px;
	width: 90px;
}

button :hover {
	background: #ccc;
}


input[type=file] {
	border: 1px solid #bbb;
	background: #eee;
	border-radius: 4px;
	padding: 10px 20px 10px 20px;
	margin: 3px 5px 3px 5px;
	width: 250px;
}

img#ripimg {
	max-width: 200px;
	max-height: 200px;
}
